<!DOCTYPE html>
<html>
<head>
    <title>BI Dashboard</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>BI Timeout error</h2>
    <p>An timeout error has occurred on the BI Dashboard application, the development team was notified.</p>
    <p>The request you made could not be processed, it could be linked to your internet connection.</p>
    <p>Sorry for the inconvenience.</p>
    <p>Please refresh your BI page or log off and log back into BI. Thank you.</p>
</body>
</html>