@{ 

}


<!DOCTYPE html>
<html>
<head>
    <title>BI Dashboard</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>BI Dashboard Error</h2>
    <p>An error has occurred in the BI Dashboard application, the development team was notified.</p>
    <p>Sorry for the inconvenience.</p>
    <p>Please refresh your BI page or log off and log back into BI. Thank you.</p>
</body>
</html>