<!DOCTYPE html>
<html>
<head>
    <title>BI Dashboard Server error</title>
	<meta charset="utf-8" />
</head>
<body>
    <h2>Server error</h2>
    <p>An error has occurred on the BI Dashboard application Server, the development team was notified.</p>
    <p>Sorry for the inconvenience.</p>
    <p>Please refresh your BI page or log off and log back into BI. Thank you.</p>
</body>
</html>
